<section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-6 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl xl:text-6xl dark:text-white">Construisez <span class="text-primary-600 dark:text-primary-500">des bilans patrimoniaux</span> pour les dirigeants d'entreprises</h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-10 md:text-lg lg:text-xl dark:text-gray-400">Obtenez en quelques clics une étude juridique complète, clés en main & prête à l'emploi</p>
          <div class="items-center justify-between p-4 mb-4 space-y-4 bg-gray-100 rounded dark:bg-gray-700 sm:flex sm:space-y-0">
              <div>
                  <div class="text-2xl font-bold text-gray-900 dark:text-white">5 minutes</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">Etude complète</div>
              </div>
              <div>
                  <div class="text-2xl font-bold text-gray-900 dark:text-white">Automatique</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">Récupération données</div>
              </div>
              <div>
                  <div class="text-2xl font-bold text-gray-900 dark:text-white">IA</div>
                  <div class="text-sm text-gray-500 dark:text-gray-400">Rapports générés par notre IA</div>
              </div>
              <a href="#" class="inline-flex items-center justify-center w-full px-5 py-3 text-base font-medium text-center text-white rounded-lg sm:w-auto bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">

                  Démarrer
              </a>
          </div>
          <div class="text-sm text-gray-500">En utilisant CGP+ vous accéptez <a href="#" class="text-primary-600 dark:text-primary-500 hover:underline">les CGU</a> et <a href="#" class="text-primary-600 dark:text-primary-500 hover:underline">la politique de confidentialité</a>.</div>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
          <img class="rounded-lg shadow-lg dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/text-editor-light.svg" alt="mockup light">
          <img class="rounded-lg shadow-lg hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/text-editor-dark.svg" alt="mockup darj">
      </div>
  </div>

</section>
